<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bulletinboard.repository.BoardRepository">

	<resultMap type="com.example.bulletinboard.entity.Board" id="BoardMap">
		<id property="boardId" column="board_id"/>
		<result property="title" column="board_title"/>
		<result property="content" column="board_content"/>
		<result property="userId" column="user_id"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<insert id="write" parameterType="hashmap" >
		insert into board_tb
		values (0, #{title}, #{content}, #{userId}, #{name})
	</insert>
	
	<select id="board" resultMap="BoardMap">
		select
			board_id,
			board_title
		from
			board_tb
	</select>
	
	<select id="viewPost" resultMap="BoardMap" parameterType="Integer">
		select
			board_title,
			board_content,
			user_Id,
			name
		from
			board_tb
		where
			board_id = #{BoardId}
	</select>
	<delete id="boardDelete" parameterType="Integer">
		delete from
			board_tb
		where
			board_id = #{boardId}
	</delete>
	<update id="modify" parameterType="hashMap">
		update
			board_tb
		set
			board_title = #{title} ,
			board_content = #{content}
		where
			board_id = #{boardId}
	</update>
</mapper>