<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bulletinboard.repository.BoardRepository">

	<resultMap type="com.example.bulletinboard.entity.Board" id="BoardMap">
		<id property="boardId" column="board_id"/>
		<result property="title" column="board_title"/>
		<result property="content" column="board_content"/>
		<result property="userId" column="user_id"/>
		<result property="name" column="name"/>
		<result property="time" column="board_time"/>
	</resultMap>
	
	<resultMap type="com.example.bulletinboard.entity.Comment" id="commentMap">
		<id column="comment_id" property="commentId"/> 
		<result column="comment_content" property="commentContent"/>
		<result column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="board_id" property="boardId"/>
	</resultMap>
	
	<insert id="write" parameterType="hashmap" >
		insert into board_tb
		values (0, #{title}, #{content}, #{userId}, #{name} , #{time})
	</insert>
	
	<select id="board" resultMap="BoardMap">
		select
			board_id,
			board_title,
			board_time
		from
			board_tb
	</select>
	
	<select id="viewPost" resultMap="BoardMap" parameterType="Integer">
		select
			board_title,
			board_content,
			user_Id,
			name
		from
			board_tb
		where
			board_id = #{BoardId}
	</select>
	<delete id="boardDelete" parameterType="Integer">
		delete from
			board_tb
		where
			board_id = #{boardId}
	</delete>
	<update id="modify" parameterType="hashMap">
		update
			board_tb
		set
			board_title = #{title} ,
			board_content = #{content}
		where
			board_id = #{boardId}
	</update>
	<insert id="comment" parameterType="hashMap">
		insert into comment_tb
		values (0, #{comment},#{userId}, #{userName}, #{boardId} )
			
	</insert>
	<select id="getComment" resultMap="commentMap" parameterType="Integer">
		select
			comment_id,
			comment_content,
			user_id,
			name,
			board_id
		from
			comment_tb
		where
			board_id = #{boardId}
	</select>
	
	<select id="commentUserCheck" parameterType="hashMap" resultMap="commentMap">
		select
			comment_id
		from
			comment_tb
		where
			user_id = #{userId}	and
			board_id = #{boardId} 
	</select>
	<delete id="commentDelete" parameterType="hashMap">
		delete from
			comment_tb
		where
			board_id = #{boardId} and
			comment_id = #{deleteCommentId}
	</delete>
</mapper>